h1{
    font-size: 15px;
}

.spider{
    height: 50%;
    width: 50%;
    margin-top: 10px;
}

.footer{
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

a{
    margin-right: 100px;
}